<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="38062AvishaiDernis.DiscordUWP" Publisher="CN=DUWP Test" Version="7.4.1.0" />
  <mp:PhoneIdentity PhoneProductId="2d9dab6c-5d48-4d38-8c26-ec097ba95ceb" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Discord UWP</DisplayName>
    <PublisherDisplayName>Avishai Dernis</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Discord_UWP.App">
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="InvisibleBackgroundTask.InvisibleBackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.updateTask" EntryPoint="UpdateNotificationTask.UpdateTask" />
        <Extension Category="windows.backgroundTasks" EntryPoint="DiscordBackgroundTask1.MainClass">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="discord">
            <uap:DisplayName>Discord UWP</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="discorduwp">
            <uap:DisplayName>Discord UWP</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
            <uap:DataFormat>Text</uap:DataFormat>
            <uap:DataFormat>URI</uap:DataFormat>
            <uap:DataFormat>Bitmap</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="discorduwp">
            <uap:DisplayName>Discord UWP</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="discord">
            <uap:DisplayName>Discord UWP</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="DiscordBackgroundTask1.MainClass">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.updateTask" EntryPoint="UpdateNotificationTask.UpdateTask" />
      </Extensions>
      <uap:VisualElements DisplayName="Discord UWP" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Discord UWP" BackgroundColor="transparent">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Discord UWP" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1e2124" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
  <!--<Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>libsodium-uwp.dll</Path>
        <ActivatableClass ActivatableClassId="Sodium.Core" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.CryptoHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.GenericHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.GenericHashAlgorithmProvider" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.GenericHashAlgorithmNames" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.KDF" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.KeyPair" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.OneTimeAuth" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.PasswordHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.PublicKeyAuth" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.PublicKeyBox" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.ScalarMult" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SealedPublicKeyBox" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SecretBox" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SecretKeyAuth" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SecretAead" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.ShortHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.StreamEncryption" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.Utilities" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>-->
</Package>