<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="38062AvishaiDernis.DiscordUWP"
    Publisher="CN=Adam Dernis"
    Version="99.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="ad8ee882-b52e-43c1-9621-07c4c9beb65e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Quarrel</DisplayName>
    <PublisherDisplayName>Adam Dernis</PublisherDisplayName>
    <Logo>Assets\Logo\Alpha\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Quarrel.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayNameAlpha"
        Square150x150Logo="Assets\Logo\Alpha\Square150x150Logo.png"
        Square44x44Logo="Assets\Logo\Alpha\Square44x44Logo.png"
        Description="Quarrel"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo\Alpha\Wide310x150Logo.png" Square310x310Logo="Assets\Logo\Alpha\LargeTile.png" Square71x71Logo="Assets\Logo\Alpha\SmallTile.png">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Logo\Alpha\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="discord">
            <uap:DisplayName>Quarrel</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="quarrel">
            <uap:DisplayName>Quarrel</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>