<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4" IgnorableNamespaces="uap mp">
  <Identity Name="38062AvishaiDernis.DiscordUWP" Publisher="CN=43D24869-0557-46C9-8B30-13C6ACFDB86B" Version="11.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="dd903e10-fd57-4348-8134-1ce5d506f0ac" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Quarrel</DisplayName>
    <PublisherDisplayName>Avishai Dernis</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Quarrel.App">
      <Extensions>
        <uap:Extension Category="windows.voipCall">
        </uap:Extension>
        <uap4:Extension Category="windows.contactPanel" />
        <Extension Category="windows.backgroundTasks" EntryPoint="Discord_UWP.Managers.AudioManager">
          <BackgroundTasks ServerName="VoipHost">
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="DiscordBackgroundTask1.MainClass">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
            <uap:DataFormat>Text</uap:DataFormat>
            <uap:DataFormat>URI</uap:DataFormat>
            <uap:DataFormat>Bitmap</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="quarrel">
            <uap:DisplayName>Quarrel</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="discord">
            <uap:DisplayName>Quarrel</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.updateTask" EntryPoint="UpdateNotificationTask.UpdateTask" />
        <Extension Category="windows.backgroundTasks" EntryPoint="InvisibleBackgroundTask.Main">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="ms-ipmessaging">
            <uap:DisplayName>Message with Quarrel</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.appService">
          <uap3:AppService Name="Quarrel.Presence" SupportsRemoteSystems="true" />
        </uap:Extension>
      </Extensions>
      <uap:VisualElements DisplayName="Quarrel" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Unofficial client for Discord" BackgroundColor="#506098">
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Quarrel" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#506098" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="contacts" />
    <uap:Capability Name="voipCall" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
  <!--<Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>libsodium-uwp.dll</Path>
        <ActivatableClass ActivatableClassId="Sodium.Core" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.CryptoHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.GenericHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.GenericHashAlgorithmProvider" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.GenericHashAlgorithmNames" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.KDF" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.KeyPair" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.OneTimeAuth" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.PasswordHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.PublicKeyAuth" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.PublicKeyBox" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.ScalarMult" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SealedPublicKeyBox" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SecretBox" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SecretKeyAuth" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.SecretAead" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.ShortHash" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.StreamEncryption" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Sodium.Utilities" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>-->
</Package>