<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Native.SharedLibrary-arm" version="1.6.1" targetFramework="netcore50" developmentDependency="true" />
  <package id="Microsoft.Net.Native.SharedLibrary-x64" version="1.6.1" targetFramework="netcore50" developmentDependency="true" />
</packages>